body {

	color: #333;
	font: 16px/28px Georgia, 'Times New Roman', Times, serif;
	
	/* CSS3 gradient background pattern @credits http://leaverou.me/demos/css3-patterns.html */
	background-color: #eee; /* Change this to change both stribe colors */
	
	background-image: -webkit-gradient(linear, 0 100%, 100% 0,
							color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
							color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
							color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
							to(transparent)); /* Old webkit syntax */
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent); /* New webkit syntax */					
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent); /* Firefox */
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent); /* Opera */
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
							transparent 75%, transparent); /* WC3 */
	background-size: 16px 16px;
}

.data_container {

	background: rgba(204, 204, 204, .4);
	border-radius: 5px 5px 10px 10px;
	width: 960px;
	padding: 20px 20px 20px 20px;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0px 0px 15px rgba(204, 204, 204, 0.5);
	-moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0px 0px 15px rgba(204, 204, 204, 0.5);
	box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0px 0px 15px rgba(204, 204, 204, 0.5);
	margin-left: 50px;
	margin-bottom: 5px;
}

.control_text {

	font: 14px/20px Georgia, 'Times New Roman', Times, serif;
	padding: 5px 5px 5px 5px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Courier New', sans-serif;
	text-shadow: 0 1px 0 #fff;
}

.title {
	
	text-align: center;
	font-weight: bold;
	background: #ffffff;
}

#term1_details, #term2_details {

	text-align: center;
	background: #ffffff;
}

.term, th, .daytime_slot {

	border-color: #000000;
	border-style:solid;
	border-width:1px;
	border-collapse:collapse;
	font-family:"Arial";
	font-size: 10pt;
	padding: 10px;
}

th {
	background: #CDCDCB;
	border-color: #000000;
	border-style:solid;
	border-width:1px;
}

th, .daytime_slot {

	padding-top:2px;
	padding-bottom:2px;
	padding-right:5px;
	padding-left:5px;
	line-height: 100%;
}

.daytime_slot {

	text-align: center;
	background: #ffffff;
	width: 100px;
}

.option_div {

	position: relative;
	max-height: 300px;
	max-width: 160px;
	border: 1px solid;
	border-radius: 2px;
	height: auto;
	margin-bottom: 5px;
}

#controls_div {

	float: left;
	position: relative;
	height: 450px;
	width: 160px;
	margin-left: 10px
}

#courses_div {

	position: relative;
	float: left;
	
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 30px;
	background-color: rgba(255,204,102,0.4);
	border: 1px solid;
	border-radius: 25px;
	margin-bottom: 10px;
}

#term1_table, #term2_table {

	position: relative;
	margin-left: 10px;
	float: left;
	margin-bottom: 10px;
}